* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.titulo{
    display: flex;
    justify-content: center;
    color: azure;
}

header{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}


.intro {
    display: flex;
    justify-content: center;
    font-size: larger;
}

.titulos2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

p {
  text-align: justify;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

    background-image: url(Images/1244.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}